html{
    color: white;
    background-color: rgb(7, 0, 0);
    text-align  : center;
}

label {
    font-size: xx-large;
    margin-top: 20px;
}

h1 {
    border: 2px solid gray;
    display: inline;
    padding: 1rem;
}

textarea {
    font-size: xx-large;
}


div {
    margin: 2rem;
}

button {
    font-size: xx-large;
    border: 5px solid green ;
}

td{
    padding: 1rem;
    font-size: x-large;
}
th{
    padding: 1rem;
    
    font-size: x-large;
}

table {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 10rem;
    font-size: xx-large;
}